@font-face {
    font-family: NunitoFont;
    src: url(Fonts/Nunito-VariableFont_wght.ttf);
}

.BodyHeader {
    background: rgba(0, 0, 0, .5) url('Images/ShopBG1.jpg');
    background-blend-mode: color;
    background-position: center;
    background-size: 100%;
    height:50vh;
    margin: 100px 60px 20px 60px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BodyHeader h3 {
    font-family: "GTRFont";
    font-size: 1.8rem;
    margin-left: 30px;
    animation: SlideR .5s ease-in;
}

.BodyHeader h3:first-child {
    margin-bottom: 20px;
}

.Filter {
    text-align: center;
    font-family: "NunitoFont";
    margin-top: 50px;
}

.Filter label{
    margin: 0px 25px 0px 0px;
}

.radioB {
    margin-left: 25px;
}

.ProductContainer {
  display: flex;
  justify-content: center;
}
table {
    margin: 50px 0px;
}

table td {
    font-family: "NunitoFont";
    padding: 20px 40px;
    text-decoration: none;
}

table td li:last-child{
    font-weight: bold;
    font-size: 12px;
    margin: 5px 0px 20px 0px;
}

table td button {
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: black 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
}

table td a:hover {
    scale: 105%
}

table td ul {
    list-style: none;
    margin: 3px 0px;
}

table img {
    width: 250px;
}

.Info {
    font-size: 12px;
}